@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/bg-medieval.webp");
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
}
