:root {
  /* Background Colors */
  --primary-background-color: #f3f8f9;
  --secondary-background-color: #5f6d7a;
  --tertiary-background-color: #2c3532;

  /* Text Colors */
  --body-text-color: #404040;
  --heading-color: #262626;
  --nav-text-color: #f2c341;

  /* Button Colors */
  --button-primary-background-color: #f2c341;
}
